/* Descendant selector (space in between) */
.box p {
  color: red;
}

/* Child selector (greather than sign) only selects direct child element. */
ul > li {
  border-top: 5px solid red;
}

/* Adjacent selector (sibling selector) */
h1 + p {
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: .5em;
}

/* General sibling selector*/
h1 ~ p {
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: .5em;
}
