/* Without changing the HTML, use CSS to do the following things:
    1. Make h1 headings blue
    2. Give h2 headings a blue background and white text
    3. Cause text wrapped in a span to have a font-size of 200% */

h1 {
  color: blue;
}

h2 {
  background-color: blue;
  color: white;
}

span { 
  font-size: 200%;
}

/* Part two: 
    1. Give the element with an id of special a yellow background
    2. Give the element with a class of alert a 1px grey border
    3. If the element with a class of alert also has a class of stop, make the background red.
    4. If the element with a class of alert also has a class of go, make the background green */

#special {
  background-color: yellow;
}

.alert {
  border: 1px solid grey;
}

.alert.stop {
  background-color: red;
}

.alert.go {
  background: green;
}