/* Universal selector can be used for global styles or to make things more readable */
* {
  background-color: blueviolet;
}

article *:first-child {
  color: red;
}

/* Class selectors and how to be a bit more specific */
span.highlight {
  background-color: yellow;
}

h1.highlight {
  background-color: pink;
}

/* Targeting elements that have more than one class applied */
.notebox {
  border: 4px solid #666;
  padding: .5em;
}

.notebox.warning {
  border: 4px solid orange;
  font-weight: bold;
}

.notebox.danger {
  border: 4px solid red;
  font-weight: bold;
}