/* || General Styles || */

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  /* remember it's good practice to make the default font-size 10px for easier maths */
}

h2 {
  font-size: 2rem;
}

ul, ol, dl, p {
  font-size: 1.5rem;
  /* this means that each paragraph and list will have the same font size and top and bottom spacing, helping to keep the vertical rhythm consistent */
}

li, p {
  line-height: 1.5;
  /* this will also help to keep the vertical rhythm consistent */
}

/* Description list styles */

dd, dt {
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.5rem;
}

/* || Bullet Styles || */
ol {
  list-style-type: decimal;
  list-style-position: outside;
}

/* custom bullet point image using background properties */
ul {
  padding-left: 2rem;
  list-style-type: none;
}

ul li {
  padding-left: 2rem;
  background-image: url(star.png);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}