/* 1. Give the box a 5px solid border, with rounded corners of 10px
   2. Add a background image (use the URL balloons.jp) and size it so that it covers the box
   3. Give the <h2> a semi-transparent black background color, and make the text white */

   .box {
     border: 5px solid black;
     border-radius: 10px;
     background-image: url(balloons.jpg);
     background-size: cover;
   }

   /* Achieve transparency by using rgba and adding in a value for translucency */
   h2 {
     background-color: rgba(255, 0, 0, 0.1);
     color: white;
   }