/* 
  1. Give the box a 5px lightblue border, and round the top left corner 20px and the bottom right corner 40px
  2. The heading uses the star.png image as a background image, with a single centered star on the left and a repeating pattern of stars on the right
  3. Make sure that the heading text does not overlay the image, and that it is centered - you will need to use techniques learned in previous lessons to acheive this 
*/

.box {
  border: 5px solid lightblue;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 40px;
}

h2 {
  background-image: url(star.png), url(star.png);
  background-position: center, center;
  background-repeat: no-repeat, repeat-y;
  text-align: center;
}