/*

    Align headings and data for columns containing numbers right.
    Align headings and data for columns containing text left.
    Add a top and bottom border, plus a border above the footer.
    Stripe every odd row of the main table.

*/

/* spacing */
table {
  table-layout: fixed;
  width: 85%;
  border-collapse: collapse;
  border-top: 10px solid steelblue;
  border-left: 50px solid steelblue;
  border-right: 50px solid steelblue;
  border-bottom: 50px solid steelblue;
  margin: auto;
  margin-bottom: 50px;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 20%;
}

th, td {
  padding: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* typography */
html {
  font-family: 'Comfortaa', cursive;
}

thead th {
  letter-spacing: 1px;
  font-size: 28px;
  color: white;
}

tbody td {
  text-align: center;
  color: white;
  font-size: 24px;
}

a:link {
  color: white;
}

a:hover {
  color: lightgray;
}

/* graphics and colors */


/* zebra stripes */
tbody tr:nth-child(1),
tbody tr:nth-child(4) {
  background: url(assets/flames-in-close-up-view-2726986.jpg);
}

tbody tr:nth-child(2),
tbody tr:nth-child(5) {
  background: url(assets/water-blue-ocean-5412.jpg);
}

tbody tr:nth-child(3),
tbody tr:nth-child(6) {
  background: url(assets/autumn-dried-leaf-field-garden-289613.jpg);
}

thead {
  background-color: steelblue;
}

/* styling the caption */
caption {
  font-family: 'Comfortaa', cursive;
  padding: 20px;
  font-style: italic;
  text-align: center;
  color: #666;
  letter-spacing: 1px;
  font-size: 32px;
}

