p {
    /* Content - Width and Height */
    width: 50%;

    /* Border */
    border: 2px solid blue;

    /* Padding(space inside an element */
    padding: 10px;

    /* Margin (space between elements */
    /* margin: 100px; */
    /* This syntax goes from top -> right -> bottom -> left */
    /* margin: 20px 40px 500px 100px; */
    /* margin: 0 auto 0 auto; */
    margin: 50px 20px;

}