img {
    width: 30%;
    /* Float eleminates the default margins and puts things in flow */
    float: left;
    /* 10 margins divided by 6 */
    margin: 1.66%
}

p {
    margin-left: 1.66%;
    margin-top: 30px;
    font-weight: 800;
    font-size: 24px;
    font-family: 'Raleway';
    text-transform: uppercase;
}