/* font-family */
p {
  font-family: "Arial";
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* font-size */
h1{
  font-size: 20px;
}

/* This is a dynamic way to change font-size. It makes the span 2x as large as the parent element font-size */
span {
  font-size: 2.0em; 
}

/* font-weight */
p {
  font-weight: bold;
}

/* line-height (space between lines) */
p {
  line-height: 1.5;
}

/* text-align */
h1 {
  text-align: right;
}

p {
  text-align: center;
}

/* text-decoration (underline, strikethrough, or overline) */
p {
  text-decoration: underline;
}

h1 {
  text-decoration: line-through;
}
