h1 {
    text-align: center;
}

table {
    margin: 0 auto;
}

td {
    width: 100px;
    height: 100px:
}

.leftCell {
    border-right: 2px solid black;
}

.rightCell {
    border-left: 2px solid black;
}

.topRow {
    border-bottom: 2px solid
}
