body {
  width: 900px;
  margin: 0 auto;
}

p {
  line-height: 2.0;
}

p::first-line {
  letter-spacing: 4px;
  word-spacing: 4px;
}

/* Full example of font shorthand property and values */
h1 {
  font: italic normal bold normal 3em/1.5 Helvetica, Arial, sans-serif;
}